.places {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 92px auto 0;
}

@media screen and (max-width: 1270px) {
  .places {
    margin: 92px auto 0;
  }
}

@media screen and (max-width: 1020px) {
  .places {
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 520px) {
  .places {
    margin: 64px auto 0;
  }
}
