.places {
  margin: 92px 148px 0;
  /*padding: 0 148px 0;*/
}

@media screen and (max-width: 1270px) {
  .places {
    margin: 92px calc(148px - 100px) 0;
  }
}

@media screen and (max-width: 1020px) {
  .places {
    margin: 88px calc(48px/2) 0;
  }
}

@media screen and (max-width: 520px) {
  .places {
    margin: 64px 0 0;
  }
}
