.place__website__url-heading {
  margin: 0;
  color: #AAAAAA;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
}

@media screen and (max-width: 1020px) {
  .place__website__url-heading {
    line-height: 1;
  }
}
