.place__website__link {
  color: white;
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  opacity: 1;
  transition: opasity 2s;
}

.place__website__link:hover {
  opacity: 0.8;
}
