.footer__copyright {
  margin: 0;
  color: white;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 760px) {
  .footer__copyright {
    line-height: 1;
  }
}