.intro {
  max-width: 690px;
  margin-top: 92px;
  margin-left: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 1280px) {
  .intro {
    margin-left: calc(148px - 100px);
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin-left: calc(48px/2);
    margin-right: calc(48px/2);
  }
}

@media screen and (max-width: 524px) {
  .intro {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
