.lead__subtitle {
  max-width: 640px;
  margin: 32px 0 0;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 480px;
    font-size: 26px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 524px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}
