.intro__title {
  margin: 0;
  color: white;
  font-size: 54px;
  line-height: 1.07;
  font-style:  normal;
  font-weight: 900;
}

@media screen and (max-width: 760px) {
  .intro__title {
    font-size: 48px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 520px) {
  .intro__title {
    font-size: 32px;
  }
}
